---
---

@import 'bootstrap/bootstrap';

$top-padding: 80px ;
$bottom-padding: 10px ;
$body-padding: $top-padding 20px $bottom-padding 20px ;
$total-vertical-padding: $top-padding + $bottom-padding ;

body {
  padding: $body-padding;
}

@each $color, $value in $theme-colors {
  .brand-bg-#{$color} {
    background-color: $value;
    padding: 5px;
    border-radius: 5px;
  }
}

.global-view{
  height: -webkit-calc(100vh - #{$total-vertical-padding});
  height: -moz-calc(100vh - #{$total-vertical-padding});
  height: calc(100vh - #{$total-vertical-padding});
}
