---
---

@import 'bootstrap/bootstrap';

$body-padding: 80px 20px 10px 20px ;

body {
  padding: $body-padding;
}

@each $color, $value in $theme-colors {
  .brand-bg-#{$color} {
    background-color: $value;
    padding: 5px;
    border-radius: 5px;
  }
}